<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>お好み焼き 丸金</title>
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="../static/css/reset.css">

    {% block content %}


    {% endblock %}
    <footer>
        <div class="foot">
          <p><span>電話番号</span><br class="line">088-694-2092</p>
          <p><span>営業時間</span><br class="line">11:00-18:00 </p>
          <p><span>定休日</span><br class="line">火曜日</p>
          <p><span>住所</span><br class="line">徳島県板野郡上板町<br>鍛冶屋原居屋敷南29-2</p>
        </div>
        <h1>お好み焼き 丸金</h1>
      </footer>
    </body>
    </html>