{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../polls/static/index.css">
{% include "header.html" %}

<main>
  <div id="home">
      <div class="color_bars"></div>
      <div class="container">
        <img class="image" src="../static/img/h3.jpg" />
        <img class="image" src="../static/img/h4.jpg" />
        <img class="image" src="../static/img/h5.jpg" />
        <img class="image" src="../static/img/h6.jpg" />
        <img class="image" src="../static/img/h9.jpg" />

      </div>
    <div class="store">
      <img class="human" src="../static/img/LINE1.jpg" alt="">
      <h1>あああああああとは</h1>
      <p>Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Odio tempore pariatur, ex distinctio at placeat? Quam officiis eius cum harum.<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, hic!</p>
    </div>
  </div>
</main>


  {% endblock %}