{% extends "base.html" %}
{% block content %}
  <link rel="stylesheet" href="../static/css/map.css">
{% include "header.html" %}



    <main>
      
      <iframe class="shop_map" width="900" height="600"  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13212.287613205472!2d134.397952!3d34.1189089!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbb55c3b67718f54f!2z44GK5aW954S85Li46YeR!5e0!3m2!1sja!2sjp!4v1643939437369!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>



    </main>
    {% endblock %}
