{% extends "base.html" %}
{% block content %}
  <link rel="stylesheet" href="../static/css/menu.css">
  {% include "header.html" %}

  <main>

    <div class="food">
      <div class="okonomiyaki">
        <img src="../static/img/h9.jpg" alt="" class="eat_img">
        <div class="food_text">
          <h1 class="eat_text">お好み焼き</h1>
          <p>Lorem ipsum dolor sit amet.</p>
         </div>
      </div>
    </div>

    <div class="food">
      <div class="yakisoba">
        <img src="../static/img/h9.jpg" alt="" class="eat_img">
        <div class="food_text">
          <h1 class="eat_text">焼きそば</h1>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>



    <div class="food">
      <div class="sasimi">
        <img src="../static/img/h9.jpg" alt="" class="eat_img">
        <div class="food_text">
          <h1 class="eat_text">刺身</h1>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>  
    <div class="food">    
      <div class="nabe">
        <img src="../static/img/h9.jpg" alt="" class="eat_img">
        <div class="food_text">
          <h1 class="eat_text">鍋料理</h1>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </div>    

    </div>

  </main>

  {% endblock %}