/* カスタムプロパティ */
:root {
  /* メインカラー */
  --main-color: #ECDCC5;

}
/* ヘッダー */
header{
    z-index: 9999;
    background-color: #212836;
    color: #fff;
    height: 60px;
    position: fixed;
    width: 100%;
}

header .title{
    font-size: 20px;
    font-weight: 200;
    letter-spacing:2px;
}

header .text{
    text-align: left;
    padding: 20px 0px 12px 60px;
}

.HeaderList{
    margin-top: -20px;
    /* margin-right: 10%; */
    display: flex;
    flex-direction :row-reverse;
    font-size: 20px;
    font-weight: 200;
}

header a {
    transition: .3s; /* 変化時間 0.3秒 */
    padding: 24px 60px; /* 内側の余白設定 */
    text-decoration: none; /* aタグの下線を非表示に */
    color: #fff; 
    font-size: 8px; 
    position: relative;
    bottom: 15px;
}

header a:hover{
    color: #111;
    background-color:var(--main-color) ;
}
/* ヘッダー終わり */
/* メイン */




#home .color_bars{
    background-color:var(--main-color) ;
    padding-top: 65px;
}


/* ここから */
main{
  background-color:var(--main-color) ;

}


#home .container  { 
  width: 100%;
  z-index: 0;
<<<<<<< HEAD
  margin-bottom: 30%;
=======
  margin-bottom: 600px;
>>>>>>> refs/remotes/origin/main
  height: 100vh;
  position: relative; 

}


.image {
	position: absolute;
	width: 100%;
	opacity: 0;
	animation: change-img-anim 30s infinite;
}

.image:nth-of-type(1) {
	animation-delay: 0s;
}
.image:nth-of-type(2) {
	animation-delay: 6s;
}
.image:nth-of-type(3) {
	animation-delay: 12s;
}
.image:nth-of-type(4) {
	animation-delay: 18s;
}.image:nth-of-type(5) {
	animation-delay: 24s;
}

@keyframes change-img-anim {
	0%{ opacity: 0;}
	15%{ opacity: 1;}
	25%{ opacity: 1;}
	30%{ opacity: 0;}
	100%{ opacity: 0;}
}

/* 見出し用 */
.sub_title {
  padding-top: 30px;
  font-size: 30px;
  text-align: center;
}


/* お知らせ */
.news_content{
  padding: 80px 0px 100px 30%;
  margin:60px 0px 40px 0px;
  text-align: left; 
  /* background-image: url(../img/outside2.jpg); */
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}
.news_content p{
  padding-top:30px;
  margin-bottom:30px;
  font-size: 20px;
}


/* 店長の写真 */
.store{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:30px;
  padding-bottom:140px;
}
.human{
  width: 400px;
  height: 475px;
  padding: 30px 0px 80px 0px;
}



/* メニューリスト */

.eat_list{
  display: flex;
  justify-content: space-around;
  margin-bottom: 140px;
}

.eat{
  display: flex;
  justify-content: space-between;
  flex-direction:column;
}
.eat_img{
  height: 300px;
  width: 300px;
}
.eat_text{
  display: flex;
  flex-direction:column;
}
.eat_title{
  margin:50px;
  font-size: 30px;
}
.eat_subtitle{
  line-height:40px;
}

.eat_name{
  display: flex;
  flex-direction:row;
  justify-content: center;
}
.eat_name_img{
  height: 300px;
  width: 300px;
  margin-right: 200px;
}



.red_name{
  color: red;
}
.eat_list{
  padding: 60px 0px 20px 0px;
}
/* テレコにする */
/* .eat:nth-child(even) {
  flex-direction: row-reverse;
} */


/*店舗案内  */
.shop_map{
  display: block;
  margin: 0 auto;
  padding: 100px 0px 70px 0px;
  max-width: 100%;
}



/* galleryへのリンクbtn */
.skip_btn{
  margin: 10px 0px 200px 0px;
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 40px 60px;   /* 余白       */
  background    : #ffa64d;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 5px 5px 24px #666666;  /* 影の設定 */
  text-decoration: none;
  text-align:center;
}
.skip_btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 0.8;         /* カーソル時透明度 */
}
.more_btn{
  text-align:center;
  padding: 80px;
}
#last{
  margin-bottom: 100px;
}

  /* メイン終わり */
/* フッター */
footer{
  color: #fff;
  background-color: #212836;
  height: 220px;
}
.foot{
  display: flex;
  justify-content: space-evenly;
} 

footer h1{
  font-size: 20px;
  padding: 40px 0px 40px 60px;
  
}

footer .foot p{
  margin-top: 50px;
}

footer .foot .line {
  display: block;
  content: "";
  margin: 18px 0;
  }

footer h1{
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0px;
  background-color: #212836;
  font-size: 24px;
}

footer .foot span{
  font-size: 20px;
}

/* フッター終わり */